{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
    <!-- enctype = permite que o formulário aceite imagens  -->
    <form method="post" enctype="multipart/form-data">
        <!-- é necessário criar um token para o formulário (é um padrão do django)  -->
        {% csrf_token %}
        <!-- as_p = exibe o formulário no formato de parágrafo -->
        {{form_diarista|crispy}}

        <button type="submit" class="btn btn-secondary mt-4 mb-4" style="background-color: #02E7D9; border-color: #02E7D9">Cadastrar</button>
    </form>
{% endblock conteudo %}